<form method="get" action="/quizes">
	<p>Búsqueda de preguntas</p>
	<input type="text" name="search"/>
	<input type="submit" value="Texto a buscar">
</form>

<table>
	
	<% var i; for(i=0; i<quizes.length; i++){ %>
		<tr>
			<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>

			<% if(session.user){ %>
				<% if(session.user.isAdmin || session.user.id === quizes[i].UserId){ %>

					<td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>

					<td>
						<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
							<button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">Borrar</button>
						</form>
					</td>

				<% } %>

				<% if(quizes[i].selected){ %>
					<td>	
						<form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].id %>?_method=delete">
							<input type="image" onClic="return confirm('Quitar de favoritos: <%= quizes[i].pregunta %>'); %>" src="http://images.gofreedownload.net/yellow-star-26785.jpg" style="width:auto; max-width: 14px; heigth:auto;">
						</form>
					</td>
				<% }else{ %>
					<td>
						<form method="post" action="/user/<%= session.user.id %>/favourites/<%= quizes[i].id %>?_method=put">
							<input type="image" src="http://1.bp.blogspot.com/-_RsnD2F2RFk/UnlW71TNMQI/AAAAAAAA-JE/UYSOijO5X0g/s1600/Estrella+%283%29.jpg" style="width:auto; max-width:14px; heigth:auto;">
						</form>
					</td>
				<% } %>

			<% } %>
		</tr>
	<% } %>

</table>

<p/>

<% if(session.user){ %>
	<a href="/quizes/new"><button>Crear pregunta</button></a>
<% } %>